- provide :title, "#{@profile.display_name} profile"
= content_for :page_title do
  %h2= "#{@profile.display_name}'s profile"

.transparent-wrapper
  .profile-header
    .info
      = image_tag @profile.avatar.url(:medium), :alt => @profile.display_name, :class => "avatar"
      = @profile.full_name
    .bar
      %ul.buttons
        %li
          = link_to profile_albums_path(@profile.permalink) do
            %span.profile-icon.countries.pull-left
            .number.pull-left
              = @profile.user.albums_count
            .text.pull-left
              = @profile.user.albums_count == 1 ? "Album" : "Album".pluralize
        %li
          = link_to "#" do
            %span.profile-icon.distance.pull-left
            .number.pull-left
              0
            .text.pull-left
              KM
        %li
          = link_to profile_friendships_path(@profile.permalink) do
            %span.profile-icon.buddies.pull-left
            .number.pull-left
              = @profile.user.friends_count
            .text.pull-left
              = @profile.user.friends_count == 1 ? "Buddy" : "Buddy".pluralize 
      %ul.actions
        %li= link_to "Info", "#", :class => "btn btn-mini btn-primary"
        %li= link_to "Message", "#", :class => "btn btn-mini btn-primary"
        %li= link_to "+ Add", friendships_path(:friend_id => @profile.user.id), :class => "btn btn-mini btn-primary add-friend"
      - if @profile.user == current_user
        = link_to "Edit your profile", edit_profile_path, :class => "edit-button btn btn-medium btn-warning"
  .profile-body
    - @profile.user.albums.each do |album|
      .album-item.align-center{ :style => "background-image: url('#{album.cover_image}');"}
        .album-title= link_to album.name, album_path(album, :anchor => "/edit")
  .clearfix
      
  :javascript
    up = new Jourmie.UserProfiles()
    up.initialize()
  
